body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    margin-bottom: 10px;
}
tbody.close tr, tbody.close tr td, tbody.close{
    color: crimson;
}
thead.close tr, thead.close tr th, thead.close{
    color: white;
    background-color: crimson;
}

.sale:hover {
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.title:hover {
    background-color: mediumseagreen;
    color: white;
    cursor: pointer;
}

.sale-group {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.sale-group h1 {
    background-color: #2980b9;
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin: 0;
}

.sale-group div {
    margin-bottom: 10px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #2980b9;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

strong {
    color: #2980b9;
}

h1.title-date {
    text-align: right;
    color: white;
    border: 3px solid #333;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
}