.product-container {
    text-align: center;
}
.product-item {
    text-align: left;
    display: inline-block;
    padding: 10px;
    width: 15%;
    border: 3px solid darkslategrey;
    background-color: gainsboro;
    border-radius: 10px;
    margin: 20px;
}
.product-item.disabled {
    border: 3px solid darkslategrey;
    background-color: lightpink;
}
.product-item input {
    float: right;
}
.product-item label {
    font-weight: bold;
    cursor: pointer;
}
.product-container label:hover {
    color: crimson;
}
.product-item div.center {
    text-align: center;
}
.product-item input {
    cursor: pointer;
}